body {
    font-size: 16px;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 16px;
}

.dark-mode {
    background-color: #292929;
    color: #c4c4c4;
}

nav {
    display: flex;
    align-items: center;
    background-color: rgb(61, 58, 58);
}


.nav-items {
    display: flex;
    list-style-type: none;
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin: auto 8%;
    font-size: 1.15rem;
}

.nav-item a {
    color: white;
    text-decoration: none;
    white-space: nowrap;
}

.about-img {
    max-width: 25%;
    height: 300px;
    min-width: fit-content;
    border-radius: 50%;
    margin: 5% 5%;
}

.about-text {
    max-width: 60%;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.projects-list {
    list-style-type: none;
}

footer {
    bottom: 0;
    left: 0;
    position: relative;
    text-align: center;
    width: 100%;
}

.contact-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px;
    column-gap: 20px;
}

.contact-container a {
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
}

.linkedin {
    background-color: #0072b1;
}

.email {
    background-color: #de5246;
}

.github {
    background-color: #171515;
}

a.linkedin:hover, a.email:hover, a.github:hover {
    background-color: rgb(61, 58, 58);
}

.label {
    margin-top: 60px;
    color: white;
}

.toggle {
    display: flex;
}

button {
    border-radius: 10px;
    color: white;
    background-color: rgb(61, 58, 58);
    margin-top: 2rem;
    box-sizing: border-box;
    width: fit-content;
}

@media only screen and (max-width:600px) {
    .nav-items {
        flex-direction: column;
        list-style-type: disclosure-closed;
        width:auto
    }

    .about-container {
        flex-direction: column-reverse;
        margin-top: 0px;
    }

    .about-img {
        border-radius: 25%;
        max-height: 200px;
    }

    .about-text {
        max-width: 100%;
    }

    .contact-container {
        grid-template-rows: 50px;
    }

    .label {
        margin-top: 12px;
    }

    footer {
        font-size: x-small;
    }

    .toggle {
        justify-content: center;
    }
}